@using Cursova.Service;

<header class="header">
    <div class="container">
        <div class="header-content">
            <h1 class="header-title">Мій склад</h1>
            <nav class="header-nav">
                <button class="nav-button">Home</button>
                <button class="nav-button">About</button>
                <button class="nav-button">Services</button>
                <button class="nav-button">Contact</button>
            </nav>
        </div>
    </div>
</header>