@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Stock</h1>

<form asp-action="Login" method="post">
    <button type="submit" class="btn btn-primary">Вхід в профіль</button>
</form>

<form asp-action="Register" method="post">
    <button type="submit" class="btn btn-secondary">Реєстрація</button>
</form>