@model IEnumerable<dynamic>

<h2>Найбільш активні покупці</h2>

<form method="get" asp-action="ActiveCustomers">
    
</form>

<table>
    <tr>
        <th>Покупець</th>
        <th>Кількість покупок</th>
        <th>Загальна сума витрат</th>
    </tr>
    @foreach (var customer in Model)
    {
            <tr>
                <td>@customer.CustomerName</td>
                <td>@customer.TotalPurchases</td>
                <td>@customer.TotalAmountSpent</td>
            </tr>
    }
</table>
        <button onclick="history.back()">Назад</button>

