<form asp-action="EntitySelecton" method="post">
    <button type="submit" class="btn btn-primary" name="entityType" value="customer">Створити покупця</button>
</form>

<form asp-action="EntitySelecton" method="post">
    <button type="submit" class="btn btn-primary" name="entityType" value="supplier">Створити постачальника</button>
</form>

<form asp-action="EntitySelecton" method="post">
    <button type="submit" class="btn btn-primary" name="entityType" value="stock">Створити товар</button>
</form>

<form asp-action="EntitySelecton" method="post">
    <button type="submit" class="btn btn-primary" name="entityType" value="salesDeal">Створити чек</button>
</form>
